@using Raffle.Models;
@model Raffle.Models.ParticipantsViewModel

@{
    Layout = null;
    ViewBag.Title = "Raffle";
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title</title>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/JSFiles/library.js"></script>
<script type="text/javascript">
    var users = @Html.Raw(Json.Encode(Model.participants));
    window.onload = function () {
        list = users;
        var t = creatSlotMachine($(".slotMachineContainer")[0], list);

        setTimeout(function () {
            putList(t.list, list)
        }, 50),

            $(".screen .confirm").on("click", function () {
                $(".prize").hide("nomal", function () {
                    $(".screen").css("display", "none")
                })
            }),

        $(".screen .void").on("click", function () {
            $(".prize").hide("nomal", function () {
                $(".screen").css("display", "none")
            })
        }),

        $(t.button).on("click", function () {
            animateButton($(t.button)), t.joysticks.addClass("joysticksAnimate"), setTimeout(function () {
                t.joysticks.removeClass("joysticksAnimate")
            }, 1850),
            drawARaffle(t, list)
        }).css("cursor", "pointer")
    };
</script>
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/index.css" rel="stylesheet" />
<link href="~/Content/library.css" rel="stylesheet" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3 customFont" style="height:100%;">
            <img src="@Url.Action("LoadEventBanner","Participants")" style="width:100%;height:15%;" />
            <br />
            <center>
                @Model.prizes.prize_name
                <br />
                @Model.prizes.prizeout_qty out of @Model.prizes.prize_qty
                <br />
            </center>
            @Html.Action("DisplayWinner", "Participants")
        </div>
        <div class="col-lg-9 events_background">
            <center>
                <div class="slotMachineContainer"></div>
            </center>
        </div>
    </div>
</div>


       
<div class="screen">
    <div class="prize">
        <div class="name">
            <p>&nbsp;</p>
            <p><span></span></p>
        </div>
        <a id="raffleAction" href="#" class="confirm">
            Confirm
        </a>
        <a href="#" class="void">
            Void
        </a>
    </div>
</div>


<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    var baseUrl = '@Url.Action("UpdateFlag", "Participants")';
    $('#raffleAction').on("click", function() {
        var url = baseUrl + '?prize_id=' + '@Model.prizes.prize_id' + '&prize_name=' + '@Model.prizes.prize_name' + '&wname=' + $('.name p span').text()
        location.href = url;
    });
</script>







